:root {
  --main-yellow: #E59D2C;
  --light-yellow: #FAD272;
  --soft-beige: #EBDDC5;
  --green: #89A376;
  --dark-brown: #372616;
  --white: #FFFFFF;
  --black: #000;
  --bg: #FBF8F3;
  --color-deep-blue: #0F4E77;
  --light-blue: #5594BD;
  --muted-yellow: #C7BA8D;
  --pink:#E77D7D;


//   버튼 호버 전 색 호버 후 색은 위에 컬로 중 사용
  --hover-soft-yellow: #E6B363;
  --hover-light-blue: #5594BD;
  --hover-soft-yellow: #E6B363;
  --hover-light-green: #A6BC96;
  --hover-extra-light-blue: #86AFC9;
  --hover-soft-pink: #DDA8A8;
}