#sec-banner {
    .bnr-wrap {
        width: 100%;
        height: 760px;
        overflow: hidden;
        /* 영역 밖 이미지는 숨김 처리 (필수) */
        position: relative;
        /* 자식 요소 기준점 */
        @mixin mobile {
            width: 100%;
            height: 173px;
        }
        .bnr-track {
            width: 100%;
            /* JS에서 translateX로 움직일 것임 */
            height: 100%;
            display: flex;
            /* 가로 배치 */
            /* CSS transition은 JS에서 인라인 스타일로 제어하므로 여기선 생략 가능 */
            /* 공통 스타일 적용 */
            .bnr-sec01,
            .bnr-sec02,
            .bnr-sec03 {
                min-width: 100%;
                /* flex-shrink 방지 및 꽉 채우기 */
                height: 100%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .bnr-sec03 {
                position: relative;
                .bnr-btn {
                    position: absolute;
                    bottom: 12rem;
                    left: 15rem;
                    font-size: 30px;
                    font-weight: 700;
                    padding: 0.5rem 1.5rem;
                    border-radius: 5rem;
                    background-color: #5594BD;
                    color: white;
                    cursor: pointer;
                    transition: 0.3s;
                    /* hover 효과 부드럽게 */
                    &:hover {
                        background-color: #0F4E77;
                    }
                }
            }
        }
    }
}