@use '../../assets/scss/mixins' as *;
@use '../../assets/scss/fonts' as *;

#category-card {
    margin: 5rem;
    @include flex-layout(column);


    .category-cd-title {
        @include font-title-2;

        p {
            color: var(--dark-brown);

            span {
                color: var(--main-yellow);
            }
        }
    }

    .cate-card-list {
        @include flex-layout(space-around, center);
        gap: 3rem;
        max-width: 1120px;
        margin-top: 5rem;
        margin-bottom: 10rem;


        .cate-card {
            .category-cd-item {
                @include flex-layout(column);
                width: 250px;
                height: 400px;
                overflow: hidden;
                box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
                border-radius: 1rem;
                background-color: var(--white);


                .cd-title {
                    @include font-s-2;
                    background-color: var(--green);
                    color: var(--white);
                    padding: 0.5rem 1rem;
                    border-radius: 2rem;
                }

                .cd-img {
                    width: 200px;
                    height: 250px;
                    object-fit: cover;
                }

                .cd-go {
                    @include btn-style(var(--hover-light-blue),
                        var(--color-deep-blue));
                    padding: 0.5rem 2rem;
                }
            }
        }
    }
}