@use '../../assets/scss/mixins' as *;
@use '../../assets/scss/fonts' as *;

#sec-promotion {
    .pro-wrap {
        @include flex-layout(column, center, center);
        width: 100%;
        height: 100%;

        .pro-title {
            @include font-title-2;
            color: var(--dark-brown);
            margin-top: 10rem;

            span {
                color: var(--main-yellow);
            }
        }

        .pro-cd-wrap {
            @include flex-layout(row,space-between);
            width: 100%;
            max-width: 1120px;
            padding: 5rem 0;
            margin-bottom: 10rem;
            .pro-card {
                position: relative;
                width: 500px;
                height: 300px;
                background-color: var(--hover-extra-light-blue);
                border-radius: 1rem;
                padding: 1rem 2rem;

                .cd-title {
                    color: var(--white);
                    @include font-h2-2;
                    text-align: center;
                }

                .cd-txt {
                    color: var(--dark-brown);
                    @include font-s-1;
                    padding-top: 1rem;
                    padding-bottom: 2rem;
                    line-height: 2.5rem;

                    span {
                        font-size: 2rem;
                        padding: 0.5rem;
                        color: var(--color-deep-blue);
                    }
                }

                .cd-btn {
                    @include btn-style(var(--hover-light-green),
                        var(--hover-light-blue));
                    font-size: 2rem;
                    font-weight: 900;
                    display: inline-block;
                    box-shadow: 0 3px 5px rgba(01, 0, 0, 0.3);
                }

                img {
                    position: absolute;
                    width: 50%;
                    height: 80%;
                    bottom: 0;
                    right: -1rem;
                }
            }
        }
    }
}