@use "../../assets/scss/mixins" as *;
@use "../../assets/scss/fonts" as *;
footer{
    background-color: var(--green);
}

.footer-inner {
    @include flex-layout(row, space-between, flex-start);
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden; 
            @include mobile{
                max-width: 768px;
                padding: 0 2rem;
            }
        .footer-ment {
            margin-top: 6rem;
            // max-width: 1440px;
            .footer-logo {
                cursor: pointer;
        img {
            width: 10rem;
            height: 5rem; 
            @include mobile{
                width: auto;
                height: 4rem;
                margin-top: 1rem;
            }
        }
    }
        p {
            white-space:nowrap;
            font-size: 0.9rem;
            color: var(--white);
            margin: 1.5rem auto;
            @include font-s-1;
            @include mobile{
                font-size: 0.7rem;
                margin: 0.8rem auto;
            }
        }
    } 
    .footer-brands {
        gap: 1rem;
        cursor: pointer;
            img {
                width: 3rem;
                @include mobile{
                    width: 2rem;
                }
            }
        }
    .footer-dog {
        @include mobile{
            display: none;
        }
    }
    .mobile-dog{
        display: none;
        @include mobile{
            display: flex;
            width: 15rem;
            // margin-top: 5rem;
        }
    }
}
